{% extends 'bootstrap/base.html' %} {% import 'bootstrap/wtf.html' as wtf %} {%
block styles %}
<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/styles.css')}}"
/>
{% endblock styles %} {% block title %}Add A New Cafe{% endblock %} {% block
content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">
      <h1>Add a new cafe into the database</h1>

      <!-- This is where your WTForm will go -->
      <form
        id="cafeform"
        action="{{url_for('add_cafe')}}"
        method="POST"
        novalidate
      >
        {{wtf.quick_form(form, form_type="horizontal", horizontal_columns=('lg',
        1, 12))}}
        <br />
      </form>

      <p class="space-above"><a href="#">See all cafes</a></p>
    </div>
  </div>
</div>

{% endblock %}
