{% extends 'bootstrap/base.html' %} {% block styles %}
<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/styles.css')}}"
/>
{% endblock styles %} {% block title %}Restaurants{% endblock %} {% block
content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>All Cafes</h1>
      <table class="table">
        {% for row in cafes %}
        <tr>
          {% for i in range(7) %} {% if "http" in row[i] %}
          <th><a href="{{row[i]}}">Maps Link</a></th>
          {% else %}
          <th>{{row[i]}}</th>
          {% endif %} {% endfor %}
        </tr>
        {% endfor %}
      </table>
      <p><a href="/">Return to index page</a></p>
    </div>
  </div>
</div>

{% endblock %}
