<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JoyRiver's website</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Nanum+Myeongjo&family=Sacramento&display=swap" rel="stylesheet">
</head>
<body>
    <div class="top_container">
        <img src="images/cloud.png" class="top_cloud" alt="cloud-img">
        <h1>I'm Yigang.</h1>
        <h2>A Programmer!</h2>
        <img src="images/cloud.png" class="bot_cloud" alt="cloud-img">
        <img src="images/mountain.png" alt="mount-img">
    </div>
    <div class="middle-container">
  <div class="profile">
    <img src="images/좋아해요_홈화면_수정-modified.png" alt="좋아해요" width="200">
    <h2>Hello.</h2>
    <p>My name is <strong>Jo Yigang</strong> also known as <strong>Harigaze</strong></p>
    <p>I'm student of Korea University.</p>
      <p>For now, I'm serving as Social agent in korea(similar to army). </p>
  </div>
  <hr>
  <div class="skills">
    <h2>My Skills.</h2>
    <div class="skill_row">
      <img class="img_java" src="images/Java_Logo.png" alt="java_logo">
      <h3>Java Developer.</h3>
      <p>I'm using Java mainly. Especially in building Algorithms. </p>
    </div>
    <div class="skill_row">
      <img class="img_python" src="images/Python_Logo.png" alt="python_logo">
      <h3>Python Beginner.</h3>
      <p>For now, I'm getting used to Python. Especially, I'm learning about Data Analyzing.</p>
    </div>
  </div>
  <hr>
  <div class="contact-me">
    <h2>Get In Touch</h2>
    <h3>If you <strong>interested</strong> about me. Feel free to contact!</h3>
    <p>You can contact me via LinkedIn, send friend request to my Discord or send Email to me.</p>
    <a class="btn" href="mailto:dlrkd1122@gmail.com">Contact me</a>
  </div>
</div>
<div class="bottom-container">
  <a class="footer-link" href="https://www.linkedin.com/">LinkedIn</a>
  <a class="footer-link" href="https://discord.com/">Discord</a>
  <a class="footer-link" href="https://dlrkd1239.github.io/PersonalWeb/">Visit my Website!</a>
  <p class="name-surname">© 2023 Yigang Jo.</p>
</div>


</body>
</html>